<section class="popup" (click)="desactivatePopup()">
  <div class="popup-main">
    <p class="text-[#52d0d1] text-2xl font-bold">Semana {{proeyctToActivate.semana}}</p>
    <p class="text-xl font-bold">{{proeyctToActivate.name}}</p>
    <p class="tracking-tighter font-mono line-clamp-3"> {{proeyctToActivate.reflexion}}</p>
    <p class="tracking-tighter font-mono line-clamp-3"> {{proeyctToActivate.resumen}}</p>
  </div>
  <!-- <img class="popup-imagen" [src]="proeyctToActivate.imagen" alt=""> -->
</section>
