.info-relative{
  height: 100vh;
  width: 60%;
}
@media(min-width:1024px){
  .info-relative{
    position: sticky;
    top: 0;
    display: flex;
    max-height: 100vh;
    width: 50%;
    flex-direction: column;
    padding-top: 6rem/* 96px */;
    padding-bottom: 6rem/* 96px */;
  }
}
.popup{
  position: absolute;
  height: 100vh;
  width: 100%;
}
