<main class="main">
  <section class="mb-[144px]" id="about">
    <p class="text-2xl pt-1 pb-2 text-white font-bold tracking-tighter line-animation inline-block">Acerca de Mi</p>
    <p class="text-slate-500">
      ¡Saludos! Mi nombre es Edson y actualmente estudio en la Facultad de Ingeniería de Sistemas de la UNCP. Durante mi
      recorrido académico, he tenido la oportunidad de explorar y perfeccionar habilidades en distintos lenguajes de
      programación, entre los cuales destacan Python y Java. Además, me he sumergido en el mundo del desarrollo web,
      adquiriendo destrezas en la creación utilizando HTML y CSS.
    </p>
  </section>
  <section  #classes id="classes">
    <p class="text-2xl text-white tracking-tighter font-bold line-animation inline-block pt-1 pb-1">Resumenes de Classes</p>
    <section  class="flex flex-col gap-3 card-principal">
      <div *ngFor="let proyect of proyects" id="{{proyect.semana}}" class="flex flex-row gap-7 p-5 card activate-poper"
        (click)="activatePoper(proyect)">
        <div>
          <p class="text-slate-500 text-[15px] whitespace-nowrap">Semana - {{ proyect.semana }}
          </p>
        </div>
        <div>
          <p class="text-white title">{{ proyect.name }}
            <span><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                class="icon inline-block h-4 w-4 shrink-0 transition-transform group-hover/link:-translate-y-1 group-hover/link:translate-x-1 group-focus-visible/link:-translate-y-1 group-focus-visible/link:translate-x-1 motion-reduce:transition-none ml-1 translate-y-px"
                aria-hidden="true">
                <path fill-rule="evenodd"
                  d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                  clip-rule="evenodd"></path>
              </svg></span>
          </p>
          <p class="text-slate-400">Ingeniero de Software</p>
          <p class="text-slate-400">Edson Josias Ambrocio</p>
          <p class="mt-4 text-slate-400 line-clamp-3"> {{ proyect.resumen }}</p>
        </div>
      </div>
    </section>
  </section>
  <section id="proyects">

  </section>
</main>
